<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= csrf_meta_tags %>

  <%= render 'layouts/common' %>
  <%= stylesheet_link_tag    'smartphone/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'smartphone/application', 'data-turbolinks-track' => true %>
</head>
<body>
  <%= render 'shared/admin_header' %>
  <div id="admin-container" class='container'>
    <%= yield %>
  </div>
</body>
</html>
